$primary-color: #3bd672;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 84px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #131a26;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  .container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px; /* 标准高度 */
  background-color: #6200ee; /* 主色 */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .8);
  z-index: 1000; /* 确保在其他内容之上 */
  .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
  .navi {
    font-size: 14px;
    a {
      margin-left: 0.6rem;
      transition: color ease 150ms;
    }
    a:hover {
      color: $primary-color;
    }
  }
}

#uptime {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
  padding: 8px 0;
  overflow: hidden;
  .site {
    border-bottom: 1px solid #000;
    margin: 0 8px;
    padding: 8px 0;
    .loading {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath fill='%23D6D8D8' d='M19.52 42.712c9.897 2.916 20.285-2.743 23.201-12.64l-3.902-1.15c-2.281 7.742-10.407 12.17-18.15 9.888l-1.15 3.902z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      width: 10rem;
      height: 10rem;
    }
    .meta {
      display: flex;
      align-items: baseline;
      .link {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .status {
        background-position: left center;
        background-size: 10px auto;
        background-repeat: no-repeat;
        margin-left: auto;
        &.ok {
          color: $primary-color;
        }
        &.fail {
          color: #de484a;
        }
        &.unknow {
          color: #969ea8;
        }
      }
    }
    .timeline {
      display: flex;
      justify-content: space-between;
      margin: 8px 0 6px 0;
      i {
        flex-grow: 1;
        margin: 0 1px;
        height: 2rem;
        border-radius: 2px;
        transition: opacity ease 1500ms;
        &.ok {
          background-color: $primary-color;
        }
        &.down {
          background-color: #de484a;
        }
        &.none {
          background-color: #e5e8eb;
        }
        &:hover {
          opacity: 0.6;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .summary {
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      line-height: 10px;
      color: #9aa2af;
    }
    .tooltip {
      padding: 2px 6px !important;
      border-radius: 2px !important;
    }
  }
  .site:last-child {
    border-bottom: none;
  }
}

#footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: .7rem;
  text-align: center;
  line-height: .8rem;
  color: #969ea8;
  a {
    font-weight: bold;
  }
}
